*, body {
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    display: inline-flex;
    justify-content: space-between;
    gap: 50px;
    background-image: linear-gradient(#042326, #0F5959);
}